In [1]:
import pandas as pd
import html5lib

In [4]:
uss = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')

In [6]:
print(uss)

[   Flag, name and postal abbreviation [1]  \
   Flag, name and postal abbreviation [1]
0                                 Alabama
1                                  Alaska
2                                 Arizona
3                                Arkansas
4                              California
5                                Colorado
6                             Connecticut
7                                Delaware
8                                 Florida
9                                 Georgia
10                                 Hawaii
11                                  Idaho
12                               Illinois
13                                Indiana
14                                   Iowa
15                                 Kansas
16                            Kentucky[B]
17                              Louisiana
18                                  Maine
19                               Maryland
20                       Massachusetts[B]
21                               Michigan
22                              Minnesota
23                            Mississippi
24                               Missouri
25                                Montana
26                               Nebraska
27                                 Nevada
28                          New Hampshire
29                             New Jersey
30                             New Mexico
31                               New York
32                         North Carolina
33                           North Dakota
34                                   Ohio
35                               Oklahoma
36                                 Oregon
37                        Pennsylvania[B]
38                           Rhode Island
39                         South Carolina
40                           South Dakota
41                              Tennessee
42                                  Texas
43                                   Utah
44                                Vermont
45                            Virginia[B]
46                             Washington
47                          West Virginia
48                              Wisconsin
49                                Wyoming

                                                     Cities  \
   Flag, name and postal abbreviation [1].1         Capital
0                                        AL      Montgomery
1                                        AK          Juneau
2                                        AZ         Phoenix
3                                        AR     Little Rock
4                                        CA      Sacramento
5                                        CO          Denver
6                                        CT        Hartford
7                                        DE           Dover
8                                        FL     Tallahassee
9                                        GA         Atlanta
10                                       HI        Honolulu
11                                       ID           Boise
12                                       IL     Springfield
13                                       IN    Indianapolis
14                                       IA      Des Moines
15                                       KS          Topeka
16                                       KY       Frankfort
17                                       LA     Baton Rouge
18                                       ME         Augusta
19                                       MD       Annapolis
20                                       MA          Boston
21                                       MI         Lansing
22                                       MN      Saint Paul
23                                       MS         Jackson
24                                       MO  Jefferson City
25                                       MT          Helena
26                                       NE         Lincoln
27                                       NV     Carson City
28                                       NH         Concord
29                                       NJ         Trenton
30                                       NM        Santa Fe
31                                       NY          Albany
32                                       NC         Raleigh
33                                       ND        Bismarck
34                                       OH        Columbus
35                                       OK   Oklahoma City
36                                       OR           Salem
37                                       PA      Harrisburg
38                                       RI      Providence
39                                       SC        Columbia
40                                       SD          Pierre
41                                       TN       Nashville
42                                       TX          Austin
43                                       UT  Salt Lake City
44                                       VT      Montpelier
45                                       VA        Richmond
46                                       WA         Olympia
47                                       WV      Charleston
48                                       WI         Madison
49                                       WY        Cheyenne

                              Established[A] Population [3] Total area[4]  \
   Largest (by population)[5] Established[A] Population [3]           mi2
0                  Huntsville   Dec 14, 1819        5024279         52420
1                   Anchorage    Jan 3, 1959         733391        665384
2                     Phoenix   Feb 14, 1912        7151502        113990
3                 Little Rock   Jun 15, 1836        3011524         53179
4                 Los Angeles    Sep 9, 1850       39538223        163695
5                      Denver    Aug 1, 1876        5773714        104094
6                  Bridgeport    Jan 9, 1788        3605944          5543
7                  Wilmington    Dec 7, 1787         989948          2489
8                Jacksonville    Mar 3, 1845       21538187         65758
9                     Atlanta    Jan 2, 1788       10711908         59425
10                   Honolulu   Aug 21, 1959        1455271         10932
11                      Boise    Jul 3, 1890        1839106         83569
12                    Chicago    Dec 3, 1818       12812508         57914
13               Indianapolis   Dec 11, 1816        6785528         36420
14                 Des Moines   Dec 28, 1846        3190369         56273
15                    Wichita   Jan 29, 1861        2937880         82278
16                 Louisville    Jun 1, 1792        4505836         40408
17                New Orleans   Apr 30, 1812        4657757         52378
18                   Portland   Mar 15, 1820        1362359         35380
19                  Baltimore   Apr 28, 1788        6177224         12406
20                     Boston    Feb 6, 1788        7029917         10554
21                    Detroit   Jan 26, 1837       10077331         96714
22                Minneapolis   May 11, 1858        5706494         86936
23                    Jackson   Dec 10, 1817        2961279         48432
24                Kansas City   Aug 10, 1821        6154913         69707
25                   Billings    Nov 8, 1889        1084225        147040
26                      Omaha    Mar 1, 1867        1961504         77348
27                  Las Vegas   Oct 31, 1864        3104614        110572
28                 Manchester   Jun 21, 1788        1377529          9349
29                     Newark   Dec 18, 1787        9288994          8723
30                Albuquerque    Jan 6, 1912        2117522        121590
31              New York City   Jul 26, 1788       20201249         54555
32                  Charlotte   Nov 21, 1789       10439388         53819
33                      Fargo    Nov 2, 1889         779094         70698
34                   Columbus    Mar 1, 1803       11799448         44826
35              Oklahoma City   Nov 16, 1907        3959353         69899
36                   Portland   Feb 14, 1859        4237256         98379
37               Philadelphia   Dec 12, 1787       13002700         46054
38                 Providence   May 29, 1790        1097379          1545
39                 Charleston   May 23, 1788        5118425         32020
40                Sioux Falls    Nov 2, 1889         886667         77116
41                  Nashville    Jun 1, 1796        6910840         42144
42                    Houston   Dec 29, 1845       29145505        268596
43             Salt Lake City    Jan 4, 1896        3271616         84897
44                 Burlington    Mar 4, 1791         643077          9616
45             Virginia Beach   Jun 25, 1788        8631393         42775
46                    Seattle   Nov 11, 1889        7705281         71298
47                 Charleston   Jun 20, 1863        1793716         24230
48                  Milwaukee   May 29, 1848        5893718         65496
49                   Cheyenne   Jul 10, 1890         576851         97813

            Land area[4]          Water area[4]         Number of Reps.
        km2          mi2      km2           mi2     km2 Number of Reps.
0    135767        50645   131171          1775    4597               7
1   1723337       570641  1477953         94743  245384               1
2    295234       113594   294207           396    1026               9
3    137732        52035   134771          1143    2961               4
4    423967       155779   403466          7916   20501              52
5    269601       103642   268431           452    1170               8
6     14357         4842    12542           701    1816               5
7      6446         1949     5047           540    1399               1
8    170312        53625   138887         12133   31424              28
9    153910        57513   148959          1912    4951              14
10    28313         6423    16635          4509   11678               2
11   216443        82643   214045           926    2398               2
12   149995        55519   143793          2395    6202              17
13    94326        35826    92789           593    1537               9
14   145746        55857   144669           416    1077               4
15   213100        81759   211754           520    1346               4
16   104656        39486   102269           921    2387               6
17   135659        43204   111898          9174   23761               6
18    91633        30843    79883          4537   11750               2
19    32131         9707    25142          2699    6990               8
20    27336         7800    20202          2754    7134               9
21   250487        56539   146435         40175  104052              13
22   225163        79627   206232          7309   18930               8
23   125438        46923   121531          1508    3907               4
24   180540        68742   178040           965    2501               8
25   380831       145546   376962          1494    3869               2
26   200330        76824   198974           524    1356               3
27   286380       109781   284332           791    2048               4
28    24214         8953    23187           397    1027               2
29    22591         7354    19047          1368    3544              12
30   314917       121298   314161           292     757               3
31   141297        47126   122057          7429   19240              26
32   139391        48618   125920          5201   13471              14
33   183108        69001   178711          1698    4397               1
34   116098        40861   105829          3965   10269              15
35   181037        68595   177660          1304    3377               5
36   254799        95988   248608          2391    6191               6
37   119280        44743   115883          1312    3397              17
38     4001         1034     2678           511    1324               2
39    82933        30061    77857          1960    5076               7
40   199729        75811   196350          1305    3379               1
41   109153        41235   106798           909    2355               9
42   695662       261232   676587          7365   19075              38
43   219882        82170   212818          2727    7064               4
44    24906         9217    23871           400    1035               1
45   110787        39490   102279          3285    8508              11
46   184661        66456   172119          4842   12542              10
47    62756        24038    62259           192     497               2
48   169635        54158   140268         11339   29367               8
49   253335        97093   251470           720    1864               1  ]

In [7]:
u = uss[0]
print(u)

   Flag, name and postal abbreviation [1]  \
   Flag, name and postal abbreviation [1]
0                                 Alabama
1                                  Alaska
2                                 Arizona
3                                Arkansas
4                              California
5                                Colorado
6                             Connecticut
7                                Delaware
8                                 Florida
9                                 Georgia
10                                 Hawaii
11                                  Idaho
12                               Illinois
13                                Indiana
14                                   Iowa
15                                 Kansas
16                            Kentucky[B]
17                              Louisiana
18                                  Maine
19                               Maryland
20                       Massachusetts[B]
21                               Michigan
22                              Minnesota
23                            Mississippi
24                               Missouri
25                                Montana
26                               Nebraska
27                                 Nevada
28                          New Hampshire
29                             New Jersey
30                             New Mexico
31                               New York
32                         North Carolina
33                           North Dakota
34                                   Ohio
35                               Oklahoma
36                                 Oregon
37                        Pennsylvania[B]
38                           Rhode Island
39                         South Carolina
40                           South Dakota
41                              Tennessee
42                                  Texas
43                                   Utah
44                                Vermont
45                            Virginia[B]
46                             Washington
47                          West Virginia
48                              Wisconsin
49                                Wyoming

                                                     Cities  \
   Flag, name and postal abbreviation [1].1         Capital
0                                        AL      Montgomery
1                                        AK          Juneau
2                                        AZ         Phoenix
3                                        AR     Little Rock
4                                        CA      Sacramento
5                                        CO          Denver
6                                        CT        Hartford
7                                        DE           Dover
8                                        FL     Tallahassee
9                                        GA         Atlanta
10                                       HI        Honolulu
11                                       ID           Boise
12                                       IL     Springfield
13                                       IN    Indianapolis
14                                       IA      Des Moines
15                                       KS          Topeka
16                                       KY       Frankfort
17                                       LA     Baton Rouge
18                                       ME         Augusta
19                                       MD       Annapolis
20                                       MA          Boston
21                                       MI         Lansing
22                                       MN      Saint Paul
23                                       MS         Jackson
24                                       MO  Jefferson City
25                                       MT          Helena
26                                       NE         Lincoln
27                                       NV     Carson City
28                                       NH         Concord
29                                       NJ         Trenton
30                                       NM        Santa Fe
31                                       NY          Albany
32                                       NC         Raleigh
33                                       ND        Bismarck
34                                       OH        Columbus
35                                       OK   Oklahoma City
36                                       OR           Salem
37                                       PA      Harrisburg
38                                       RI      Providence
39                                       SC        Columbia
40                                       SD          Pierre
41                                       TN       Nashville
42                                       TX          Austin
43                                       UT  Salt Lake City
44                                       VT      Montpelier
45                                       VA        Richmond
46                                       WA         Olympia
47                                       WV      Charleston
48                                       WI         Madison
49                                       WY        Cheyenne

                              Established[A] Population [3] Total area[4]  \
   Largest (by population)[5] Established[A] Population [3]           mi2
0                  Huntsville   Dec 14, 1819        5024279         52420
1                   Anchorage    Jan 3, 1959         733391        665384
2                     Phoenix   Feb 14, 1912        7151502        113990
3                 Little Rock   Jun 15, 1836        3011524         53179
4                 Los Angeles    Sep 9, 1850       39538223        163695
5                      Denver    Aug 1, 1876        5773714        104094
6                  Bridgeport    Jan 9, 1788        3605944          5543
7                  Wilmington    Dec 7, 1787         989948          2489
8                Jacksonville    Mar 3, 1845       21538187         65758
9                     Atlanta    Jan 2, 1788       10711908         59425
10                   Honolulu   Aug 21, 1959        1455271         10932
11                      Boise    Jul 3, 1890        1839106         83569
12                    Chicago    Dec 3, 1818       12812508         57914
13               Indianapolis   Dec 11, 1816        6785528         36420
14                 Des Moines   Dec 28, 1846        3190369         56273
15                    Wichita   Jan 29, 1861        2937880         82278
16                 Louisville    Jun 1, 1792        4505836         40408
17                New Orleans   Apr 30, 1812        4657757         52378
18                   Portland   Mar 15, 1820        1362359         35380
19                  Baltimore   Apr 28, 1788        6177224         12406
20                     Boston    Feb 6, 1788        7029917         10554
21                    Detroit   Jan 26, 1837       10077331         96714
22                Minneapolis   May 11, 1858        5706494         86936
23                    Jackson   Dec 10, 1817        2961279         48432
24                Kansas City   Aug 10, 1821        6154913         69707
25                   Billings    Nov 8, 1889        1084225        147040
26                      Omaha    Mar 1, 1867        1961504         77348
27                  Las Vegas   Oct 31, 1864        3104614        110572
28                 Manchester   Jun 21, 1788        1377529          9349
29                     Newark   Dec 18, 1787        9288994          8723
30                Albuquerque    Jan 6, 1912        2117522        121590
31              New York City   Jul 26, 1788       20201249         54555
32                  Charlotte   Nov 21, 1789       10439388         53819
33                      Fargo    Nov 2, 1889         779094         70698
34                   Columbus    Mar 1, 1803       11799448         44826
35              Oklahoma City   Nov 16, 1907        3959353         69899
36                   Portland   Feb 14, 1859        4237256         98379
37               Philadelphia   Dec 12, 1787       13002700         46054
38                 Providence   May 29, 1790        1097379          1545
39                 Charleston   May 23, 1788        5118425         32020
40                Sioux Falls    Nov 2, 1889         886667         77116
41                  Nashville    Jun 1, 1796        6910840         42144
42                    Houston   Dec 29, 1845       29145505        268596
43             Salt Lake City    Jan 4, 1896        3271616         84897
44                 Burlington    Mar 4, 1791         643077          9616
45             Virginia Beach   Jun 25, 1788        8631393         42775
46                    Seattle   Nov 11, 1889        7705281         71298
47                 Charleston   Jun 20, 1863        1793716         24230
48                  Milwaukee   May 29, 1848        5893718         65496
49                   Cheyenne   Jul 10, 1890         576851         97813

            Land area[4]          Water area[4]         Number of Reps.
        km2          mi2      km2           mi2     km2 Number of Reps.
0    135767        50645   131171          1775    4597               7
1   1723337       570641  1477953         94743  245384               1
2    295234       113594   294207           396    1026               9
3    137732        52035   134771          1143    2961               4
4    423967       155779   403466          7916   20501              52
5    269601       103642   268431           452    1170               8
6     14357         4842    12542           701    1816               5
7      6446         1949     5047           540    1399               1
8    170312        53625   138887         12133   31424              28
9    153910        57513   148959          1912    4951              14
10    28313         6423    16635          4509   11678               2
11   216443        82643   214045           926    2398               2
12   149995        55519   143793          2395    6202              17
13    94326        35826    92789           593    1537               9
14   145746        55857   144669           416    1077               4
15   213100        81759   211754           520    1346               4
16   104656        39486   102269           921    2387               6
17   135659        43204   111898          9174   23761               6
18    91633        30843    79883          4537   11750               2
19    32131         9707    25142          2699    6990               8
20    27336         7800    20202          2754    7134               9
21   250487        56539   146435         40175  104052              13
22   225163        79627   206232          7309   18930               8
23   125438        46923   121531          1508    3907               4
24   180540        68742   178040           965    2501               8
25   380831       145546   376962          1494    3869               2
26   200330        76824   198974           524    1356               3
27   286380       109781   284332           791    2048               4
28    24214         8953    23187           397    1027               2
29    22591         7354    19047          1368    3544              12
30   314917       121298   314161           292     757               3
31   141297        47126   122057          7429   19240              26
32   139391        48618   125920          5201   13471              14
33   183108        69001   178711          1698    4397               1
34   116098        40861   105829          3965   10269              15
35   181037        68595   177660          1304    3377               5
36   254799        95988   248608          2391    6191               6
37   119280        44743   115883          1312    3397              17
38     4001         1034     2678           511    1324               2
39    82933        30061    77857          1960    5076               7
40   199729        75811   196350          1305    3379               1
41   109153        41235   106798           909    2355               9
42   695662       261232   676587          7365   19075              38
43   219882        82170   212818          2727    7064               4
44    24906         9217    23871           400    1035               1
45   110787        39490   102279          3285    8508              11
46   184661        66456   172119          4842   12542              10
47    62756        24038    62259           192     497               2
48   169635        54158   140268         11339   29367               8
49   253335        97093   251470           720    1864               1

In [8]:
url = 'https://www.fdic.gov/bank-failures/failed-bank-list'
dfs = pd.read_html(url)

print(type(dfs))

<class 'list'>

In [10]:
dfs

[                               Bank Name               City          State  \
 0  Republic First Bank dba Republic Bank       Philadelphia   Pennsylvania
 1                          Citizens Bank           Sac City           Iowa
 2               Heartland Tri-State Bank            Elkhart         Kansas
 3                    First Republic Bank      San Francisco     California
 4                         Signature Bank           New York       New York
 5                    Silicon Valley Bank        Santa Clara     California
 6                      Almena State Bank             Almena         Kansas
 7             First City Bank of Florida  Fort Walton Beach        Florida
 8                   The First State Bank      Barboursville  West Virginia
 9                     Ericson State Bank            Ericson       Nebraska

     Cert                 Aquiring Institution       Closing Date   Fund
 0  27332    Fulton Bank, National Association     April 26, 2024  10546
 1   8758            Iowa Trust & Savings Bank   November 3, 2023  10545
 2  25851               Dream First Bank, N.A.      July 28, 2023  10544
 3  59017            JPMorgan Chase Bank, N.A.        May 1, 2023  10543
 4  57053                  Flagstar Bank, N.A.     March 12, 2023  10540
 5  24735  First Citizens Bank & Trust Company     March 10, 2023  10539
 6  15426                          Equity Bank   October 23, 2020  10538
 7  16748            United Fidelity Bank, fsb   October 16, 2020  10537
 8  14361                       MVB Bank, Inc.      April 3, 2020  10536
 9  18265           Farmers and Merchants Bank  February 14, 2020  10535  ]